@import 'bulma/css/bulma.css';

body {
  background-color: white;
  color: #282c34;
}

nav a {
  margin-left: 12px;
}

h1 {
  font-weight: bold;
}

main {
  width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px 0 8px 0;
  border-bottom: 1px solid #ccc;
}

.page-header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page-header p {
  margin-left: 16px;
}

.privy-field-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  width: 100%;
}

.privy-field {
  width: 392px;
}

.privy-field-full {
  width: 100%;
}

label {
  display: block;
  padding: 3px 0;
  cursor: pointer;
}

.file-name {
  width: 400px;
  max-width: 400px;
}

.upload-progress {
  margin-top: 8px;
  max-width: 400px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar image {
  object-fit: cover;
  object-position: center center;
}

.sign-in-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mm-disabled {
  width: 400px;
}
